<div class="with-300">
  <div class="image ">
    <mat-card>
      <div style="text-align: center">
        <img src="../../assets/avatar.PNG" style="width: 150px; height: 150px; border-radius: 75px ; text-align: center;"/>
      </div>

      <div><h3 style="text-align: center">NGUYỄN VĂN HOÀNG</h3></div>
      <div style="text-align: center"><i>Fresher Java Developer</i></div>
    </mat-card>

  </div>

  <div class="information ">
    <mat-card>

      <div>
        <mat-icon matSuffix>cake</mat-icon>
        <div>17/12/1992</div>
      </div>

      <div>
        <mat-icon matSuffix>person</mat-icon>
        <div>Nam</div>
      </div>

      <div>
        <mat-icon matSuffix>phone</mat-icon>
        <div> 0349601223</div>
      </div>

      <div>
        <mat-icon matSuffix>email</mat-icon>
        <div><u>hoang92.gtvt@gmail.com</u></div>
      </div>

      <div>
        <mat-icon matSuffix>home</mat-icon>
        <div> Đan Phượng, Hà Nội</div>
      </div>

    </mat-card>
  </div>
  <div class="career">

    <mat-card>
      <div>
        <h3> MỤC TIÊU NGHỀ NGHIỆP</h3>
      </div>
      <div>
        <p>Trở thành lập trình viên Backend, trong nhóm phát triển dự án phần mềm( từ 2 đến 3 năm)</p>
        <p>Trau dồi, học hỏi thêm kiến thức để trở thành một Team Leader (từ 3 đến 5 năm) </p>
      </div>

    </mat-card>

  </div>

  <div class="skill ">

    <mat-card>
      <div>
        <h3> KỸ NĂNG</h3>
      </div>
      <div>

        <div>
          <div class="height">
            Java Core
          </div>
          <input type="range" min="1" max="100" value="50" class="slider " value="70" >
        </div>

      </div>

      <div>

        <div>
          <div class="height">
            Spring MVC
          </div>
          <input type="range" min="1" max="100" value="50" class="slider" value="70" >
        </div>

      </div>

      <div>

        <div>
          <div class="height">
            Spring Boot
          </div>
          <input type="range" min="1" max="100" value="50" class="slider" value="70" >
        </div>

      </div>


      <div>

        <div>
          <div class="height">
            My SQL
          </div>
          <input type="range" min="1" max="100" value="50" class="slider" value="70" >
        </div>

      </div>


      <div>

        <div>
          <div class="height">
            JavaScript, TypeScript
          </div>
          <input type="range" min="1" max="100" value="50" class="slider" value="60" >
        </div>

      </div>

      <div>

        <div>
          <div class="height">
            CSS, Bootstrap
          </div>
          <input type="range" min="1" max="100" value="50" class="slider" value="50" >
        </div>

      </div>

      <div>

        <div>
          <div class="height">
            Angular
          </div>
          <input type="range" min="1" max="100" value="50" class="slider" value="50" >
        </div>

      </div>



    </mat-card>

  </div>

  <div class="career ">

    <mat-card>
      <div>
        <h3> SỞ THÍCH</h3>
      </div>
      <div class="height">
        Nghe nhạc, ca hát, chơi cờ.
      </div>

<!--      <div class="height">-->
<!--         Thể thao, đọc sách.-->
<!--      </div>-->

    </mat-card>

  </div>


</div>
