.information div {
  width: 240px;
  display: flex;
  line-height: 25px;
  justify-content: left;
}

.information div div {
margin: 0px 15px;
}

h3 {
  font-weight: bold;
}

mat-card{
  background-color: darkgray;
}




.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: scrollbarbutton-down;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

 /*The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: default-button; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: darkolivegreen; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: greenyellow; /* Green background */
  cursor:pointer; /* Cursor on hover */
}


.height{
  height: 25px;

}
