<div class="with-900">
  <mat-card>

    <div class="college ">
      <div class="headerIcon">
        <div>
          <img src="../../assets/anh2.PNG"
               style="height: 45px; width: 45px "
          />
        </div>
        <div style="padding: 10px 10px">
          <h2>HỌC VẤN</h2>
        </div>
      </div>


      <div class="content">
        <div style="display: flex; justify-content: space-between;">
          <div class="bold">CÔNG TY CỔ PHẦN CODEGYM VIỆT NAM</div>
          <div>02/2021 - 08/2021</div>
        </div>
        <div class="italic"> Java Bootcamp 2020</div>


        <div style="display: flex; justify-content: space-between;">
          <div class="bold">ĐẠI HỌC GIAO THÔNG VẬN TẢI</div>
          <div>10/2010 - 08/2014</div>
        </div>
        <div class="italic"> Kỹ sư Cơ khí</div>

      </div>
    </div>


    <div class="college ">
      <div class="headerIcon">
        <div>
          <img src="../../assets/anh3.PNG"
               style="height: 45px; width: 45px "
          />
        </div>
        <div style="padding: 10px 10px">
          <h2>KINH NGHIỆM</h2>
        </div>
      </div>

      <div class="content">
        <div style="display: flex; justify-content: space-between;">
          <div class="bold">CÔNG TY CỔ PHẦN CODEGYM VIỆT NAM</div>
          <div>02/2021 - Đến nay</div>
        </div>
        <div><i> Fresher Java Developer</i></div>


        <div class="project">
          <div class="bold italic">* Web Hẹn Hò || Dự án nhóm</div>
          <div>
            <div><span>Git: </span> <a href="https://github.com/hoang92-gtvt/case-study-module6-backend.git">https://github.com/hoang92-gtvt/case-study-module6-backend.git</a>
              <br>
              <a href="https://github.com/hoang92-gtvt/case-study-module6-frontend.git">https://github.com/hoang92-gtvt/case-study-module6-frontend.git</a>

            </div>
            <div><span>Vai trò trong nhóm phát triển:  </span>
              <ul>
                <li>Tạo ra các cuộc hẹn giữa người dùng dịch vụ và cung cấp dịch vụ.</li>
                <li>Xử lý logic các trường hợp xảy ra cho một cuộc hẹn (sửa, chấp thuận, hủy bỏ, hoàn thành, thanh
                  toán).
                </li>
                <li>Người sử dụng và người cung cấp dịch vụ có thể xem chi tiết, xem danh sách các hóa đơn của tài
                  khoản.
                </li>
                <li>Xử lý nghiệp vụ thanh toán, tăng số lượt thuê khi giao dịch thành công.</li>
              </ul>

            </div>

            <div><span>Công nghệ sử dụng: </span>
              Github, Spring Boot, Angular, Rest-API.
            </div>
            <div><span>Quy mô: </span>
              Nhóm gồm 4 thành viên, phát triển dự án theo mô hình Scrum, diễn ra trong 2 Sprint, mỗi Sprint trong 1
              tuần làm việc.
            </div>

          </div>
        </div>


        <div class="project">
          <div class="bold italic">* Web Quản Lý Thư Viện || Dự án cá nhân</div>
          <div>
            <div><span>Git: </span> <a href="https://github.com/hoang92-gtvt/m3-CaseStudy.git">https://github.com/hoang92-gtvt/m3-CaseStudy.git</a>
            </div>
            <div><span>Chức năng: </span>
              <ul>
                <li>Tài khoản người dùng có thể tìm kiếm, đặt thuê một cuốn sách và quản lý đơn thuê của mình.</li>

                <li>Tài khoản của admin có thể CRUD một cuốn sách, quản lý các đơn thuê sách và tình trạng của tất cả
                  các đơn thuê.
                </li>
              </ul>


            </div>

            <div><span>Công nghệ sử dụng: </span>
              Servlet, JSP, mô hình MVC.
            </div>
          </div>
        </div>


        <div class="project">
          <div class="bold italic">* Ứng dụng quản lý phòng net || Dự án cá nhân</div>
          <div>
            <div><span>Git: </span><a href="https://github.com/hoang92-gtvt/M2-CaseStudy.git">https://github.com/hoang92-gtvt/M2-CaseStudy.git</a>
            </div>
            <div><span>Chức năng: </span>
              <ul>
                <li>Quản lý các máy tính đang hoạt động, thanh toán hóa đơn dịch vụ sử dụng máy, các dịch vụ khác đi
                  kèm
                </li>
                <li> Tính tổng doanh thu theo ngày hoặc doanh thu của tất cả hóa đơn.</li>
              </ul>

            </div>

            <div><span>Công nghệ sử dụng: </span>
              Java Core
            </div>
          </div>
        </div>


        <div class="project">
          <div class="bold italic">* Trò Chơi Đuổi Hình Bắt chữ || Dự án cá nhân</div>
          <div>
            <div><span>Git: </span><a href="https://github.com/hoang92-gtvt/w5-caseStudy">https://github.com/hoang92-gtvt/w5-caseStudy</a>
            </div>
            <div><span>Chức năng: </span>
              <ul>
                <li>Người chơi trả lời bộ câu hỏi được chọn ngẫu nhiễn.</li>
                <li>Tính điểm cho người chơi.</li>
              </ul>


            </div>

            <div><span>Công nghệ sử dụng: </span>
              JavaScript, HTML.
            </div>
          </div>
        </div>


      </div>

<!--      <div class="content">-->
<!--        <div style="display: flex; justify-content: space-between;">-->
<!--          <div class="bold">CÔNG TY CỔ PHẦN INNOLIGHT</div>-->
<!--          <div>02/2020 - 02/2021</div>-->
<!--        </div>-->
<!--        <div><i> Nhân viên thiết kế</i></div>-->
<!--        <div><u> Công việc: </u></div>-->
<!--        <div><p>Thiết kế các sản phẩm phục vụ chức năng của khách hàng như : băng tải, máy làm sạch ...</p> </div>-->


<!--      </div>-->

<!--      <div class="content">-->
<!--        <div style="display: flex; justify-content: space-between;">-->
<!--          <div class="bold">PASONA TECH VIỆT NAM</div>-->
<!--          <div>04/2018 - 01/2020</div>-->
<!--        </div>-->
<!--        <div><i> Nhân viên thiết kế</i></div>-->
<!--        <div><u> Công việc: </u></div>-->
<!--        <div><p>Kiểm tra các yêu cầu bản vẽ thiết kế 2D, 3D của chi tiết link kiện xe ô tô.</p> </div>-->


<!--      </div>-->


<!--      <div class="content">-->
<!--        <div style="display: flex; justify-content: space-between;">-->
<!--          <div class="bold">CÔNG TY CỔ PHẦN DỊCH VỤ KỸ THUẬT LOTUS</div>-->
<!--          <div>2016-2018</div>-->
<!--        </div>-->
<!--        <div><i> Nhân viên kỹ thuật</i></div>-->
<!--        <div><u> Công việc: </u></div>-->
<!--        <div><p>Chuẩn bị tài liệu, hồ sơ kiểm định đăng kiểm, thử nghiệm cho xe và linh kiện xe.</p> </div>-->


<!--      </div>-->

<!--      <div class="content">-->
<!--        <div style="display: flex; justify-content: space-between;">-->
<!--          <div class="bold">CÔNG TY CỔ PHẨN LDT</div>-->
<!--          <div>2014 - 2016</div>-->
<!--        </div>-->
<!--        <div><i> Kiểm định viên</i></div>-->
<!--        <div><u> Công việc: </u></div>-->
<!--        <div><p>Kiểm định, thử nghiệm các thiết bị đo lường  như áp kế, đồng hồ đo.</p> </div>-->


<!--      </div>-->
    </div>


    <div class="college ">
      <div class="headerIcon">
        <div>
          <img src="../../assets/anh4.PNG"
               style="height: 50px; width: 50px "
          />
        </div>
        <div style="margin: 10px 10px">
          <h2>NGƯỜI THAM CHIẾU</h2>
        </div>
      </div>

      <div class="content">
        <div>
          <div >
            <div>
              <div><span>Ms: </span>Vũ Thị Kiều Anh</div>
              <div><span></span>Instructor/ Tutor/ Coach</div>
            </div>


            <div>
              <div><span>Phone: </span>0963300692</div>
              <div><span>Email: </span><i>anh.vu@codegym.vn</i></div>

            </div>

          </div>

          <!--          <div>-->
          <!--            <div><span>Mr: </span>Nguyễn Đồng Chính</div>-->

          <!--            <div><span>Phone: </span></div>-->
          <!--            <div><span>Email: </span><i></i></div>-->
          <!--          </div>-->


        </div>


      </div>
    </div>


  </mat-card>


</div>
